body {
    background-color: #efeee7;
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header {
    background-color: #333333;
    text-align: center;
    padding: 16px;
}

h1{
    color: #eee;
    font-size: 28px;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background:#ffff;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}


#main-bio, 
#contact-info, 
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width:25%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;
}

.content {
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background: #ccc;
    margin: auto;
}
a {
    color: #d21034
}